DATABASE_URL="postgresql://usuario:senha@host:5432/database?schema=public"
JWT_SECRET="troque-este-segredo"

SEED_USER_1_NAME="Seu Nome"
SEED_USER_1_EMAIL="seu@email.com"
SEED_USER_1_PASSWORD="senha-segura"

SEED_USER_2_NAME="Nome da Esposa"
SEED_USER_2_EMAIL="esposa@email.com"
SEED_USER_2_PASSWORD="senha-segura"
